@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

#loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 3;
  background-image: url(../images/rainbow-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#loading > div {
  width: 10vh;
  height: 10vh;
  background-color: transparent;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1024px) and (max-width: 1920px) {
  #container {
    width: 40vw;
    height: 100vh;
    background-color: #eee;
  }
  #container main .box {
    width: 40vw;
    height: 40vw;
    background-color: #fcf;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #container {
    width: 60vw;
    height: 100vh;
    background-color: #eee;
  }
  #container main .box {
    width: 60vw;
    height: 60vw;
    background-color: #fcf;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  #container {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
  }
  #container main .box {
    width: 100vw;
    height: 100vw;
    background-color: #fcf;
  }
}
#container header {
  width: inherit;
  height: 6vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #eee;
}
#container header > div {
  width: 90%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: transparent;
}
#container header > div a {
  font-weight: bold;
}
#container nav {
  width: inherit;
  height: 7vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid #eee;
}
#container nav > div {
  width: 90%;
  height: inherit;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#container nav > div > div {
  width: 5vh;
  height: 5vh;
  background-color: #fff;
  border-radius: 50%;
}
#container nav > div > div a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}
#container nav > div > div:nth-child(1) {
  background-color: #333;
  background-image: url(../images/hover-icon-home.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div > div:nth-child(2) {
  background-image: url(../images/icon-follow.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div > div:nth-child(2):hover {
  background-color: #333;
  background-image: url(../images/hover-icon-follow.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div > div:nth-child(3) a {
  background-image: url(../images/icon-trand.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div > div:nth-child(3) a:hover {
  background-color: #333;
  background-image: url(../images/hover-icon-trand.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div > div:nth-child(4) {
  background-image: url(../images/icon-my-gallery.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div > div:nth-child(4):hover {
  background-color: #333;
  background-image: url(../images/hover-icon-my-gallery.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div > div:nth-child(5) {
  background-image: url(../images/icon-message.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div > div:nth-child(5):hover {
  background-color: #333;
  background-image: url(../images/hover-icon-message.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container main {
  width: inherit;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fcf;
  margin-top: 6vh;
  margin-bottom: 7vh;
}
#container main > .box {
  position: relative;
}
#container main > .box .img {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
#container main > .box .text {
  width: 100%;
  height: 6vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 0;
}
#container main > .box .text > div {
  width: 90%;
  height: inherit;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#container main > .box .text > div span {
  margin: 0 5px 0 5px;
  font-size: 0.8em;
  color: #333;
}
#container main > .box .text > div .id-wrap, #container main > .box .text > div .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#container main > .box .text > div .id-wrap div, #container main > .box .text > div .btn div {
  width: 4vh;
  height: 4vh;
  background-color: #eee;
  border-radius: 50%;
}
#container main > .box .text > div .id-wrap .icon, #container main > .box .text > div .btn .icon {
  width: 2.5vh;
  height: 2.5vh;
  background-color: transparent;
  background-image: url(../images/zzim_1.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(1) .img {
  background-image: url(../images/Pepe_shimada1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(1) .profile {
  background-image: url(../images/Pepe_shimada3.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(2) .img {
  background-image: url(../images/3.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}
#container main > div:nth-child(2) .profile {
  background-image: url(../images/11.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(3) .img {
  background-image: url(../images/noseockme-2.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(3) .profile {
  background-image: url(../images/noseockme-1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(4) .img {
  background-image: url(../images/11.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}
#container main > div:nth-child(4) .profile {
  background-image: url(../images/11.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */