* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

#loading {
  width: 100vw;
  height: 100vh;
  background-color: #ffc;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url(../images/rainbow-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#loading > div {
  width: 20vw;
  height: 20vw;
  background-color: transparent;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}
#container header {
  width: 100%;
  height: 8vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1;
}
#container header > div {
  width: 90%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: transparent;
}
#container header > div a {
  font-weight: bold;
}
#container nav {
  width: 100%;
  height: 8vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 5vw;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
#container nav > div {
  width: 11vw;
  height: 11vw;
  background-color: #fff;
  border-radius: 50%;
}
#container nav > div:nth-child(1) {
  background-color: #333;
  background-image: url(../images/icon-home.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div:nth-child(2) {
  background-image: url(../images/icon-follow.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div:nth-child(3) {
  background-image: url(../images/icon-trand.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div:nth-child(4) {
  background-image: url(../images/icon-my-gallery.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container nav > div:nth-child(5) {
  background-image: url(../images/icon-message.png);
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
#container main {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fcf;
  margin-top: 8vh;
  margin-bottom: 8vh;
}
#container main > .box {
  width: 100vw;
  height: 100vw;
  background-color: #ffc;
  position: relative;
}
#container main > .box .img {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
#container main > .box .text {
  width: 100%;
  height: 7vh;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 5vw;
}
#container main > .box .text span {
  margin: 0 2vw 0 1vw;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
#container main > .box .text .id-wrap, #container main > .box .text .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#container main > .box .text .id-wrap div, #container main > .box .text .btn div {
  width: 8vw;
  height: 8vw;
  background-color: #eee;
  border-radius: 50%;
}
#container main > .box .text .id-wrap .icon, #container main > .box .text .btn .icon {
  width: 5vw;
  height: 5vw;
  background-color: transparent;
  background-image: url(../images/zzim_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#container main > div:nth-child(1) .img {
  background-image: url(../images/Pepe_shimada1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(1) .profile {
  background-image: url(../images/Pepe_shimada3.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(2) .img {
  background-image: url(../images/myojeopdo_05_haejin.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(2) .profile {
  background-image: url(../images/myojeopdo_02_haejin.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(3) .img {
  background-image: url(../images/noseockme-2.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#container main > div:nth-child(3) .profile {
  background-image: url(../images/noseockme-1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */